.navigation {
	background-color:rgba(0,0,0,0.8);
	color: white;
}

.link {
	line-height: 4em;
}

body {
	text-align: center;
}

@mixin box_sizing {
 -moz-box-sizing:    border-box;
 -webkit-box-sizing: border-box;
 box-sizing:         border-box;
}


.debug_dump {
 clear: both;
 float: left;
 width: 100%;
 margin-top: 45px;
 @include box_sizing;
}
