/*HEADER*/
/*------*/
.navigation {
	background-color:rgba(0,0,0,0.8);
	color: white;
}
.link a {
	line-height: 4em;
	color: white;
	font-size: 1.2em;
}
.link a:hover, .logo a:hover {
	color: rgba(175,225,255,0.9);
}
.logo a {
	font-size: 2.5em;
	color: white;
}
.logo {
	margin-top: 0.4em;
}

/*FORMS*/
/*-----*/
.field {
	font-size: 1.2em;
}
.entry, .button{
	border-style: solid;
	border-color: rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.2);
	margin-bottom: 2em;
}
.actions {
	margin-top: 1em;
	margin-bottom: 1em;
}
.first {
	margin-top: 2em;
}
.last {
	margin-bottom: 2em;
}

/*PetsMAIN*/
/*---------*/
.pet-link {
	margin-bottom: 10em;
}
.pet a, .spacer a, .pet-link {
		color: rgba(175,225,255,0.9);
}
.pet {
	color: rgba(175,225,255,0.9);
}
.pet a:hover, .pet-link a:hover, .spacer a:hover {
	color:white;
}

/*GENERAL*/
/*-------*/
body {
	font-family: 'Harmattan', sans-serif !important;
	text-align: center;
	background-color: rgba(0, 0, 50, 0.9) !important;
	color: white !important;
}
.title {
	font-size: 2em;
}
.larger {
	font-size: 2em;
}
.spacer {
	margin-bottom: 2em;
}
.box {
	background-color: rgba(0,0,0,0.2);
}

/*
@mixin box_sizing {
 -moz-box-sizing:    border-box;
 -webkit-box-sizing: border-box;
 box-sizing:         border-box;
}
.debug_dump {
 clear: both;
 float: left;
 width: 100%;
 margin-top: 45px;
 @include box_sizing;
}
*/